@import "../styles";

#page {
  height: 100vh;
}

#header {
  width: 100vw;
  height: 15%;
  background-color: #29648A;
}

#body {
  height: 85%;
  width: 100vw;
}

/* sidebar-view & main-vieiw on different lines */
.main-view{
  width: 80vw;
  display: inline-block;
  padding-top: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
  overflow-y: scroll;
}
.sidebar-view {
  width: 100vw;
  display: inline-block;
  margin-right: 10vw;
}

/* sidebar-view & main-vieiw side-by-side */
@media (min-width: 700px) {
  .sidebar-view {
    width: 40%;
    height: 100%;
    margin-right: 2%;
    float: left;
  }
  .main-view {
    width: 55%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media (min-width: 900px) {
   .sidebar-view {
     width: 25%;
     margin-right: 5%;
   }
   .main-view {
     width: 70%;
   }
 }

 @media (min-width: 1250px) {
   .sidebar-view {
     width: 300px;
     margin-right: 30px;
   }
   /* Start centering the main-view */
   .main-view {
     width: 825px;
     margin: auto;
     display: block;
   }
   #body {
     width: 100vw;
   }
 }

/* Just keep expanding width */
 @media (min-width: 1450px) {
    .sidebar-view {
      width: 25%;
      margin-right: 5%;
    }
    .main-view {
      width: 60%;
    }
 }
