<div>
  <div *ngFor="let checkIn of checkIns; let i = index">
    <div class="margin-bottom-md">
      <check-ins-viewer [advocate]="checkIn['advocate']"></check-ins-viewer>
    </div>
    <div *ngFor="let appt of checkIn.appointments; let j = index">
      <appointment-details  [appointment]="appt"
                            [services]="parseServices(checkIn['advocate'])"
                            [advocate]="checkIn['advocate']"
                            (update)="getCheckIns(true)"
                            (remove)="remove(i,j)"></appointment-details>
    </div>
    <div class="add-checkIn-button app-button margin-top-md margin-bottom-lg margin-auto" (click)="addCheckIn(checkIn['advocate'])">
      <p class="font-size-75 margin-bottom-none"><i class="fa fa-plus"></i></p>
    </div>
  </div>
</div>
