@import "../../styles";

.date-selector {
  width: 60px;
  height: 70px;
  border-style: solid;
  border-color: #c2cbd1;
  border-radius: 7px;
  padding: 8px;
}

@media only screen and (min-width: 800px) {
  /* Increase size of date selector - placeholder requires this width */
  .date-selector {
    width: 125px;
  }
  /* This centers the form in a table format */
  .form-width {
    margin-right: 15%;
  }
}

/* This eliminates the focus on the mat-datepicker */
::ng-deep button:focus {
  outline: 0px !important;
}
