@import "../../styles";

.appointment-container{
  margin-bottom: 10px;
}

.appointment-date {
  height: 100px;
  width: 30%;
  display: inline-block;
  position: relative;
}

.appointment-details{
  width: 65%;
  border: solid 2px #29648A;
  border-radius: 5px;
  margin: 5px 10px;
  display: inline-block;
  vertical-align: top;
}

.appt-address{
  font-size: 12px;
}

.appt-title {
  font-size: 20px;
}

/* Used to make room for check-icon if the appointment's checkedIn value is false, i.e. Needs a toggle to be "checkedIn" */
.width-80-important {
  width: 80% !important;
}

.check-in{
  width: 20%;
  vertical-align: top;
  border-left: 3px #29648A solid;
  background-color: #edf2f9;
}
.check-in:hover {
  cursor: pointer;
}
.check-in-icon {
  font-size: 30px;
}
.go-back-icon {
  font-size: 40px;
}
.nav-buttons {
  min-height: 50%;
}

.checkedIn {
  background-color: #e6e6e6;
}
