<div id="appt-details-comp" class="margin-bottom-10 table" *ngIf="state !== undefined">
  <div class="table-cell position-rel">
    <div class="absolutely-centered">
      <div class="fill-width">
        <calendar-date [day]="parseDay(day)" [month]="parseMonth(date)" *ngIf="state !== 'entry'"></calendar-date>
      </div>
      <div class="date-selector" *ngIf="state === 'entry'">
        <form [formGroup]="checkInForm">
          <mat-form-field class="fill-width">
            <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="apptDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div class="table-cell widthPer-70">
    <div class="dark-blue-border form-width">
      <div class="height-100" *ngIf="state === 'entry'">
        <entry-form (update)="performUpdate($event)"
                    (remove)="removeAppointment($event)"></entry-form>
      </div>
      <div class="height-100 shaded-blue-background" *ngIf="state === 'completed'">
        <completed-checkIn [type]="type" [contact]="contact" [checkInData]="checkInData"></completed-checkIn>
      </div>
      <div class="height-150" *ngIf="state === 'pending'">
        <pending-checkIn [type]="type"
                         [contact]="contact"
                         [date]="date"
                         [checkInData]="checkInData"
                         [services]="services"
                         [advocate]="advocate"
                         (updateCheckIns)="updateCheckIns()"></pending-checkIn>
      </div>
    </div>
  </div>
</div>
