@import "../../../styles";

.check-in{
  width: 17%;
  vertical-align: top;
  border-left: 3px #29648A solid;
  background-color: #edf2f9;
}
.check-in:hover {
  cursor: pointer;
}
.check-in-icon {
  font-size: 30px;
}
@media only screen and (min-width: 800px) {
  .entry-form-input {
    width: 200px;
  }
  .check-in{
    width: 18%;
  }
}
@media only screen and (min-width: 1050px) {
  .check-in{
    width: 19%;
  }
}
