<form class="inline-block fill-height fill-width" [formGroup]="entryForm" (ngSubmit)="submitEntry()">
  <div class="fill-height fill-width">
    <div class="widthPer-80 fill-height inline-block padding-vert-10 padding-hor-10">
      <div class="block padding-hor-10 padding-top-10">
        <div class="entry-form-input">
          <input class="gray-borderless-input fill-width fill-height inline-block" type="text"
                 placeholder="Enter checkIn type"
                 formControlName="type">
        </div>
      </div>
      <div class="fill-width block padding-hor-10 padding-top-5">
        <div class="entry-form-input">
          <input class="gray-borderless-input fill-width fill-height inline-block" type="text"
                 placeholder="Enter contact name"
                 formControlName="advocate">
        </div>
      </div>
    </div>

    <!-- TOGGLE -->
    <div class="check-in float-right fill-height vert-align-top">
      <div class="fill-height fill-width">
        <div class="vert-text-parent fill-width heightPer-20 blue-border-bottom" (click)="closeEntry()">
          <p class="font-size-22 vert-text-child"><i class="fa fa-close" aria-hidden="true"></i></p>
        </div>
        <div class="vert-text-parent fill-width heightPer-80">
          <div class="nav-buttons fill-width vert-text-parent" (click)="submitEntry()">
            <p class="check-in-icon vert-text-child"><i class="fa fa-angle-right"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
