<div class="inline-block fill-height fill-width">
  <!-- APPOINTMENT DETAILS -->
  <div class="fill-width">
    <div class="block padding-hor-10 padding-top-10">
      <p class="font-size-22 text-right margin-bottom-none">{{type}}</p>
    </div>
    <div class="block padding-hor-10 padding-top-5">
      <p class="font-size-14 margin-bottom-none">Advocate: {{contact}}</p>
    </div>
    <div class="block padding-hor-10 padding-top-5" *ngFor="let checkIn of checkInData | keyvalue">
      <p class="font-size-14 margin-bottom-none">{{checkIn.key}}: {{checkIn.value}}</p>
    </div>
  </div>
</div>
