<div class="blue-header-container rewards-container">
  <div class="profile-pic-container">
    <img class="userProfile-img" src="../assets/img/user-profile.png">
  </div>
  <div class="profile-info">
    <div class="profile-name">
      <p class="font-white font-size-22">{{ userName }}</p>
    </div>
    <div class="profile-rewards">
      <p class="font-white font-size-18 margin-bottom-none">Your Rewards</p>
      <p class="font-white font-size-14">{{ points }} points</p>
    </div>
  </div>
</div>
