/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

p,h1 {
  font-family: Cambria;
}

.text-center {
  text-align:center;
}

.padding-top-md {
  padding-top: 20px;
}

.padding-bottom-md {
  padding-bottom: 20px;
}

.margin-bottom-md {
  margin-bottom: 20px;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.padding-hor-md {
  padding-left: 20px;
  padding-right: 20px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-22 {
  font-size: 22px;
}

.font-white {
  color: white;
}
