@import "../../styles";

.checkIn-info {
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

.profile-pic-container{
  width: 100%;
}

@media screen and (min-width: 800px) {
  .profile-pic-container {
    width: 30%;
  }
  .checkIn-info {
    text-align: left;
    width: 69%;
    padding-left: 20px;
  }
}
