<div class="blue-background content-container">
  <div class="inline-block position-rel fill-height profile-pic-container">
    <img class="center-img fill-height width-100" [src]="profileImg" >
  </div>
  <div class="checkIn-info">
    <div class="checkIn-name">
      <p class="font-white font-size-18 margin-bottom-none">{{ name }}</p>
    </div>
    <div class="checkIn-address margin-top-sm">
      <p class="font-white font-size-14 margin-bottom-none">{{ address['street'] }}</p>
      <p class="font-white font-size-14 margin-bottom-none">{{ address['city'] }}, {{ address['state'] }} {{ address['zipCode'] }}</p>
    </div>
    <div class="checkIn-services margin-top-sm">
      <p class="font-white font-size-14 margin-bottom-none">Services Offered: {{ services }}</p>
    </div>
  </div>
</div>
