<div class="fill-height">
  <div class="inline-block fill-height widthPer-80">
    <div class="fill-height" [hidden]="workingForm">
      <completed-checkIn [type]="type" [contact]="contact" [checkInData]="checkInData"></completed-checkIn>
    </div>
    <!-- CHECK-IN-FORM -->
    <form class="login-form padding-top-sm padding-left-10" [formGroup]="checkInForm" [hidden]="! workingForm || promptSubmit">
      <div class="vert-align-top inline-block fill-width">
        <div class="fill-width margin-bottom-10 block">
          <p class="font-gray font-size-14 margin-bottom-none">Enter Data for <span class="italicize">{{currType}}</span></p>
        </div>
        <div class="fill-width block">
          <div class="width-100 margin-auto" *ngFor="let field of services[currType]">
            <input class="gray-borderless-input fill-width fill-height inline-block" type="text"
                   [placeholder]="field"
                   [formControlName]="field">
          </div>
        </div>
      </div>
    </form>
    <!-- SUBMIT CHECK-IN -->
    <div class="fill-width fill-height margin-auto vert-text-parent submit-button" [hidden]="! promptSubmit" (click)="submitForm()">
      <div class="vert-text-child margin-auto fill-width">
        <div>
          <p class="font-size-75 margin-bottom-none"><i class="fa fa-check"></i></p>
        </div>
        <div class="margin-auto">
          <p class="font-size-22">Submit</p>
        </div>
      </div>
    </div>
  </div>

  <!-- TOGGLE -->
  <div class="check-in inline-flex fill-height vert-align-top">

    <!-- NON-WORKING TOGGLE: Present when user not inputting data -->
    <div class="vert-text-parent fill-height fill-width" (click)="initCheckIn()" [hidden]="workingForm">
      <p class="check-in-icon vert-text-child" ><i class="fa fa-check"></i></p>
    </div>

    <!-- WORKING TOGGLES: Present when user is inputting data -->
    <div class="fill-height fill-width" [hidden]="! workingForm">
      <div class="vert-text-parent fill-width heightPer-20 blue-border-bottom" (click)="closeForm()">
        <p class="font-size-22 vert-text-child"><i class="fa fa-close" aria-hidden="true"></i></p>
      </div>
      <div class="vert-text-parent fill-width heightPer-80">
        <div class="nav-buttons fill-width vert-text-parent" (click)="goForward()" [hidden]="! currType">
          <p class="check-in-icon vert-text-child"><i class="fa fa-angle-right"></i></p>
        </div>
        <div class="nav-buttons fill-width vert-text-parent" (click)="initCheckIn()" [hidden]="currType">
          <p class="check-in-icon vert-text-child"><i class="fa fa-angle-left"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>

