<div id="page">
  <header></header>
  <div id="body">
    <div class="sidebar">
      <nav class="nav-tabs">
        <a class="text-center nav-router" routerLink="/rewards" routerLinkActive="active">
          <div class="nav-select padding-vert-md white-border-bottom">
            <p class="font-size-18">Rewards Portal</p>
          </div>
        </a>
        <a class="text-center nav-router" routerLink="/appointments" routerLinkActive="active">
          <div class="nav-select padding-vert-md white-border-bottom">
            <p class="font-size-18">My Appointments</p>
          </div>
        </a>
        <a class="text-center nav-router" routerLink="/health" routerLinkActive="active">
          <div class="nav-select padding-vert-md white-border-bottom">
            <p class="font-size-18">My Health</p>
          </div>
        </a>
        <!--TODO: ADD FIND-DOC FEATURE-->
        <!--<a class="text-center nav-router" routerLink="/doc" routerLinkActive="active">-->
          <!--<div class="nav-select padding-vert-md white-border-bottom">-->
            <!--<p class="font-size-18">Doc Finder</p>-->
          <!--</div>-->
        <!--</a>-->
        <a class="text-center nav-router" routerLink="/login" routerLinkActive="active">
          <div class="nav-select padding-vert-md white-border-bottom">
            <p class="font-size-18">Login</p>
          </div>
        </a>
      </nav>
      <div class="padding-vert-md text-center">
        <p class="font-size-22">Anapneo is an app-based rewards program to improve lung cancer prognosis.</p>
      </div>
    </div>
    <div class="main-view">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

