/* You can add global styles to this file, and also import other style files */
@import "bootstrap.scss";

p,h1 {
  font-family: Cambria;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align: right;
}

.vert-align-top {
  vertical-align: top;
}

.padding-vertical-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-vert-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-vert-md {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-vert-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-hor-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-hor-md {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-top-sm {
  padding-top: 5px;
}

.padding-top-md {
  padding-top: 20px;
}

.padding-bottom-md {
  padding-bottom: 20px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.no-margin-left {
  margin-left: 0px !important;
}

.margin-left-md {
  margin-left: 20px;
}

.margin-right-md {
  margin-right: 20px;
}

.margin-top-md {
  margin-top: 20px;
}
/* TODO: This should be margin-top-10 */
.margin-top-sm {
  margin-top: 10px;
}

.margin-bottom-sm {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-md {
  margin-bottom: 20px;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.white-border-bottom {
  border-bottom: 1px solid white;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-22 {
  font-size: 22px;
}
.font-size-75 {
  font-size: 75px;
}
.font-size-100{
  font-size: 100px;
}
.font-white {
  color: white;
}

.font-gray {
  color: #8c8c8c;
}

.italicize {
  font-style: italic;
}

.float-right {
  float: right
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.blue-background {
  background-color: #29648A;
}

.shaded-blue-background {
  background-color: #e6e6e6;
}

/* TOOD - Find better way, block doesn't work */
.flow-root {
  display: flow-root;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.table-cell{
  display: table-cell; /* A parent of display: table will inherit the height from its child of display: table-row */
}
.fill-height {
  height: 100%;
}
.heightPer-80 {
  height: 80%;
}
.heightPer-20 {
  height: 20%;
}
.height-150 {
  height: 150px;
}
.height-100 {
  height: 100px;
}
.fill-width {
  width: 100%;
}
.width-100 {
  width: 100px;
}
.widthPer-80 {
  width: 80%;
}
.widthPer-20 {
  width: 20%;
}
.widthPer-70 {
  width: 70%;
}
.position-rel {
  position: relative;
}
.position-abs {
  position: absolute;
}
/* Position this in a relative div to put it in the exact center*/
.absolutely-centered {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
}

/**************************
 **** SPECIAL STYLINGS ****
 **************************/

/* This is a nice simple input - little border, little mess */
.gray-borderless-input {
  border-color: #d9d9d9;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  outline: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.gray-border-right-input {
  border-color: #d9d9d9;
  border-left: 0px;
  border-right: 2px solid #d9d9d9;
  border-top: 0px;
  outline: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.gray-border-right-input::-webkit-input-placeholder, gray-borderless-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  opacity: 0.5;
}

/* This is for vertically centering on all browsers

    <div class="outer">
      <div class="middle">
        <div class="inner">
          <p>...</p>
        </div>
      </div>
    </div>

      REF - https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers
*/
.outer {
  display: table;
  position: absolute;   /* Override w/ relative */
  top: 0;
  left: 0;
  height: 100vh;        /* Override w/ relative height */
  width: 100vw;         /* Override w/ relative width */
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
}
.blue-border-bottom{
  border-bottom: 3px #29648A solid;
}


/*
    Vertical align text in div
      REF - https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div
*/
.vert-text-parent{        /* Apply to parent div */
  display: table;
  text-align: center;
}
.vert-text-child {        /* Apply to child p */
  display: table-cell;
  vertical-align: middle;
}

/*
    Centers img in a div. Requires a width
 */
.center-img {
    margin: auto;
    display: block;
}

/* Styling for the main container - what user will focus on when they click a tab */
.info-container{
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border-radius: 15px;
}

/* Adds a dark blue border */
.dark-blue-border {
  border: solid 2px #29648A;
  border-radius: 5px;
}
