@import "../../styles";

.profile-name {
  direction: rtl;
}

.profile-rewards {
  direction: ltr;
}

.userProfile-img {
  height: 100%;
}

.profile-pic-container{
  width: 100%;
}

.profile-info {
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .profile-pic-container {
    width: 30%;
  }
  .profile-info {
    text-align: left;
    width: 69%;
    padding-left: 20px;
  }
}
