#header {
  height: 15%;
  background-color: #29648A;
  min-height: 120px;
}

.page-title {
  display: inline;
  margin-top: 20px;
  color: white;
}

.logo-header {
  width: 100px;
  left: 0px;
  position: relative;
}

.logo-container{
  display: inline;
  display: inline-block;
  height: 100%;
  float: left;
  margin-left: 70px;
}
