<div class="outer login-container">
  <div class="middle">
    <div class="inner">
      <div class="alert-container">
        <ngbd-alert-selfclosing
          [defaultMsg]="statusMsg"
          [lifetime]="msgLifeTime"
          [subject]="msgSubject"
          [leaveMsg]=false
          [type]="alertType"></ngbd-alert-selfclosing>
      </div>
      <form class="login-form margin-top-md" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="block login-field">
          <p class="login-text">Welcome</p>
        </div>
        <label class="block login-field">
          <input class="gray-borderless-input fill-height fill-width float-right" type="text" formControlName="user" placeholder="UserName">
        </label>
        <label class="block login-field margin-top-sm">
          <input class="gray-borderless-input fill-height fill-width float-right" type="password" formControlName="password" placeholder="Password">
        </label>
        <div (click)="onSubmit()" class="block app-button login-button margin-top-sm">
          <p class="padding-vertical-sm">Submit</p>
        </div>
      </form>
    </div>
  </div>
</div>
