@import "../styles";
@import "../assets/styles/app-button";

.login-container {
  height: 400px;
  position: relative;
}

.input-label{
  display: inline-block;
  width: 20%;
}

.submit-button-container {
  width: 100px;
  margin: auto;
}

.submit-button{
  width: 100%;
}

.logo-container {
  width: 200px;
  margin: auto;
}

.logo-img {
  width: 100%;
}

.login-field {
  height: 35px;
  width: 250px;
  margin: auto;
}

.login-button {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  border-width: 2px;
}

.alert-container {
  height: 75px;
  width: 400px;
  margin: auto;
}
