<div class="login-container">
  <div class="logo-container">
    <img class="logo-img" [src]="anapneoImgSrc"/>
  </div>
  <form class="login-form margin-top-md" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label class="block login-field">
      <div class="input-label">
        <p>User</p>
      </div>
      <input class="float-right" type="text" formControlName="user">
    </label>
    <label class="block login-field margin-top-sm">
      <div class="input-label">
        <p>Password</p>
      </div>
      <input class="float-right" type="text" formControlName="password">
    </label>
    <div (click)="onSubmit()" class="app-button login-button margin-top-sm">
      <p>Submit</p>
    </div>
  </form>
</div>


