<div class="blue-header-container my-health">
  <div class="health-container white-border-bottom padding-vert-sm">
    <div class="health-title">
      <p class="font-white font-size-22">PRESCRIPTIONS:</p>
    </div>
    <div class="margin-left-md">
      <div class="block" *ngFor="let prsc of healthProfile.prescriptions | keyvalue">
        <p class="font-white font-size-14">{{ prsc.key }}</p>
      </div>
    </div>
  </div>
  <div class="health-container white-border-bottom padding-top-md">
    <div class="health-title">
      <p class="font-white font-size-22">DOCTORS:</p>
    </div>
    <div class="margin-left-md">
      <div class="flow-root" *ngFor="let dr of healthProfile.doctors | keyvalue">
        <div class="float-left">
          <p class="font-white font-size-14">{{dr.key}}</p>
        </div>
        <div class="float-right">
          <p class="font-white font-size-14">{{dr.value}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
