<div class="blue-background info-container">
  <div class="white-border-bottom padding-vert-sm">
    <div class="health-title">
      <p class="font-white font-size-22">PRESCRIPTIONS:</p>
    </div>
    <div class="margin-left-md">
      <div class="block" *ngFor="let prsc of healthProfile[ 'prescriptions' ] | keyvalue">
        <p class="font-white font-size-14">{{ prsc.key }}</p>
      </div>
    </div>
  </div>
  <div class="table white-border-bottom padding-top-md">
    <div class="table-cell">
      <div class="health-title">
        <p class="font-white font-size-22">DOCTORS:</p>
      </div>
      <div class="margin-left-md">
        <div class="flow-root fill-width" *ngFor="let dr of healthProfile[ 'doctors' ] | keyvalue">
          <div class="widthPer-40 inline-block">
            <div class="padding-left-md float-left">
              <p class="font-white font-size-14">{{dr.key}}</p>
            </div>
          </div>
          <div class="widthPer-50 inline-block">
            <div class="float-right">
              <p class="font-white font-size-14">{{dr.value}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table white-border-bottom padding-top-md">
    <div class="table-cell">
      <div>
        <p class="font-white font-size-22">CHECK-INs:</p>
      </div>
      <div class="padding-left-md">
        <div class="flow-root" *ngFor="let type of checkIns | keyvalue">
          <div class="block">
            <p class="font-white font-size-14">{{ type.key }} </p>
          </div>
          <div class="flow-root fill-width" *ngFor="let entry of type.value">
            <div class="widthPer-40 inline-block">
              <div class="padding-left-10 float-left">
                <p class="font-white font-size-14">{{entry.date}}</p>
              </div>
            </div>
            <div class="widthPer-50 inline-block">
              <div class="float-right">
                <p class="font-white font-size-14">{{entry.data}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
